* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;
    margin: 0px;
    padding: 8px;
    color: #000000;
}

header {
    text-align: center;
    font-size: 20px;
    letter-spacing: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
}

#form_wrapper {
    margin-top: 10px;
    width: 100%;
}

#input_wrapper {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#http_prefix {
    vertical-align: middle;
}

#go_button {
    width: 50px;
    vertical-align: middle;
}

#url_entry {
    width: 375px;
    border: 1px dashed black;
    padding: 3px;
    margin-left: 3px;
    margin-right: 10px;
    font-family: arial,helvetica,sans-serif;
    font-weight: normal;
    color: #959595;
    font-size: 14px;
}

#warning {
    font-size: 10px;
    margin-top: 20px;
    letter-spacing: 3px;
    color: #7f7f7f;
    text-align: center;
}

/* secure link */
.secure {
    text-align: center;
    margin-top: 50px;
    vertical-align: middle;
    font-size: 12px;
}

.secure img {
    margin-bottom: -0.3em;
    border: 0;
}

.secure a, .secure a:hover, .secure a:visited, .secure a:active {
    color: #000;
    text-decoration: none;
}
